* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-color: darksalmon;
}

.panel {
    width: 800px;
    height: 570px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: snow;
}

.panel p,
.panel button {
    margin: 5px auto;
}

.panel button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
    color: snow;
    border: 2px solid snow;
    font-weight: bold;
    font-size: 20px;
}

#yes {
    margin-left: -70px;
}

#no {
    position: absolute;
    margin-left: 10px;
}

#image {
    height: 400px;
    margin: 20px auto;
    display: block;
}

ul {
    float: left;
}

li {
    margin: 0px 20px;
    cursor: pointer;
    /* centralizando parágrafo e icon */
    display: flex;
    align-items: center;
}

svg {
    margin-left: 1px;
}